body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }

  #map {
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  select {
    position:relative;
    left: 70px;
    height: 30px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    /* font-weight: bold; */

  }
  
  /* Customize map controls */
  .leaflet-control {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Customize popup style */
  .leaflet-popup {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(46, 80, 122, 0.256);
  }
  
  .leaflet-popup-content-wrapper {
    padding: 10px;
  }
  
  /* Customize marker icon */
  .custom-marker-icon {
    width: 30px;
    height: 30px;
    background-color: #ff5722;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Customize zoom control position */
  .leaflet-top.leaflet-right {
    top: 20px;
    right: 20px;
  }
  
  /* Customize map attribution */
  .leaflet-control-attribution {
    font-size: 12px;
    color: #555;
  }
  
  /* Customize map tiles */
  .leaflet-tile {
    /* filter: grayscale(100%); */
    /* filter: invert(100%) hue-rotate(150deg); */
    filter: invert(92%) grayscale(100%);
    /* filter: invert(100%) grayscale(100%) sepia(100%) hue-rotate(180deg); */
  }

  /* map legend */
  .legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #343434;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #393939;
  }
  .legend span {
    position: relative;
    bottom: 3px;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.75;
  }
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }