<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wildfires</title>


   <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> -->

  <!-- Leaflet heatmap plugin-->
  <!-- <script type="text/javascript" src="static/leaflet-heat.js"></script> -->
  <!-- D3 library -->
  <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <!-- Plotly library -->
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->


  <!-- flask code to link to your styles.css file. Feel free to update to match your css file-->
  <link rel="stylesheet" href="../static/css/style.css">
 
</head>

<body>

  <div class="fixed-header">
    <div class="container">
        <div>
            <div class="container">
              <font size="7"><b>Wildfire Analysis (Fire Size G) 2000 - 2020</b></font><br><br>
              Project Three Team: 
              &ensp;Jair Navarrete, 
              &ensp;Emily Boulware, 
              &ensp;Desmond Workman,
              &ensp;Shelby Reyes-Widrick
            </div>
        </div>
    </div>
  </div>

  <!-- <div class="fixed-footer">
    <div class="container">
        <div>
            <div class="container">
              Project Three Team: 
              Jair Navarrete, 
              Desmond Workman, 
              Emily Boulware, 
              Shelby Reyes-Widrick
            </div>
        </div>
    </div>
  </div> -->

  <select id="year-select">

  </select>
        
  <!-- The div that holds our map -->
  <div id="map"></div>

  <!-- dive that holds our pie chart -->
  <div id="pieChart"></div>
  
  <!-- div that holds our bar chart -->  
  <div id="acreChart"></div>

  <!-- div that holds our bar chart -->  
  <div id="numberChart"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script> 

  <!-- plotly.js library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- highcharts library -->
  <script src="https://code.highcharts.com/highcharts.js"></script>



  <!-- flask code to link to your index.js file. Feel free to copy / paste or adjust to your file names-->
  <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
  <script type="text/javascript" src="../static/index.js"></script>

  <!-- <script type= "application/json" src="../static/index.js"></script> -->
</body>

</html>